.page-home .home-inner {
  margin-top: 100px;
  
}
.page-home h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.page-home p {
  font-size: 18px;
  margin-bottom: 15px;
}
.page-home .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
